<div id="secrets">
  <p>Welcome, {{currentUser.username}} (<a href="#" id="logout-link">logout</a>)</p>
  <h1>Your Secrets</h1>
  {{#each secrets}}
    <div class="secret" data-secret-id={{_id}}>
      <p>{{content}}</p>
      <a href="#" class="edit-secret">Edit</a>
      <a href="#" class="delete-secret">Delete</a>
    </div>
  {{/each}}
</div>
